In [84]:
from sqlalchemy import create_engine
import models
from imp import reload

In [101]:
conn_string = "postgresql://goksi:124@localhost/test"
engine = create_engine(conn_string, echo=False)

In [1]:
reload(models)
from models import *
Base.metadata.create_all(engine)

NameError: name 'reload' is not defined

In [104]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker()
Session.configure(bind=engine)

In [364]:
session = Session()

In [320]:
from sqlalchemy import and_, any_, or_

sub_q =session.query(Dosije.ime).filter(Dosije.mesto_rodjenja=='Beograd')

q1 = ( session.query(Dosije.prezime).filter(Dosije.ime=='Sanja'))

print(
q1.all(),
q1.first(),
q1.one(), # fail if multi or None
q1.one_or_none(), # fail if multi
q1.scalar(), # like one()
sep='\n'
)

[('Terzic',)]
('Terzic',)
('Terzic',)
('Terzic',)
Terzic

In [276]:
d = Dosije
print(
    d.mesto_rodjenja == 'Beograd',
    d.ime.like("%na"),
    ~ d.ime.ilike("%na"),
    d.ime.match("Milos"),
    d.ime.contains("M"),
    d.ime.in_(['Milos', 'Sanja']),
    #d.ime.in_(sub_q),
    or_(d.mesto_rodjenja=='Beograd', d.mesto_rodjenja == "Kraljevo"),
    
    sep = '\n'
)

dosije.mesto_rodjenja = :mesto_rodjenja_1
dosije.ime LIKE :ime_1
lower(dosije.ime) NOT LIKE lower(:ime_1)
dosije.ime MATCH :ime_1
dosije.ime LIKE '%%' || :ime_1 || '%%'
dosije.ime IN (:ime_1, :ime_2)
dosije.mesto_rodjenja = :mesto_rodjenja_1 OR dosije.mesto_rodjenja = :mesto_rodjenja_2

In [348]:
from sqlalchemy import text

session.query(Dosije).from_statement(
    text("select * from dosije where ime like '%na'")
).all()

[Dosije(20140022, Marijana, Savkovic, 1995-03-11, 1995-03-11, Kraljevo),
 Dosije(20140025, Marijana, Savkovic, 1995-02-04, 1995-02-04, Kraljevo),
 Dosije(20130027, Milena, Stankovic, None, None, None)]

In [353]:
session.query(Dosije).count()

7

In [371]:
from sqlalchemy import func
session = Session()
(session
 .query(d.mesto_rodjenja, func.count(d.mesto_rodjenja))
 .group_by(d.mesto_rodjenja)
 .all())

[(None, 0), ('Vranje', 1), ('Beograd', 2), ('Kraljevo', 2)]

# Relacije

In [384]:
print(session.query(d.ime))

SELECT dosije.ime AS dosije_ime
FROM dosije

In [410]:
session = Session()
d, i = Dosije, Ispit
q = ( session
     .query(d.ime, i.ocena).join(i) # join(i, d.indeks==i.indeks)
     .filter(
        # d.indeks == i.indeks,
         d.ime == 'Sanja'
         
     )
)
print(q)

q.first()

SELECT dosije.ime AS dosije_ime, ispit.ocena AS ispit_ocena
FROM dosije JOIN ispit ON dosije.indeks = ispit.indeks
WHERE dosije.ime = %(ime_1)s

('Sanja', 8)

In [426]:
from sqlalchemy.orm import aliased
d1 = aliased(Dosije)
d2 = aliased(Dosije)
session.query(d1.ime, d1.prezime, d2.ime, d2.prezime).filter(d1.ime=='Milos', d1.indeks != d2.indeks).all()

[('Milos', 'Peric', 'Marijana', 'Savkovic'),
 ('Milos', 'Peric', 'Sanja', 'Terzic'),
 ('Milos', 'Peric', 'Nikola', 'Vukovic'),
 ('Milos', 'Peric', 'Marijana', 'Savkovic'),
 ('Milos', 'Peric', 'Zorica', 'Miladinovic'),
 ('Milos', 'Peric', 'Milena', 'Stankovic')]

In [449]:
from sqlalchemy.orm import subqueryload
milos = session.query(Dosije).options(subqueryload(Dosije.ispiti)).filter_by(ime='Milos')

print(milos)
milos.one().ispiti

SELECT dosije.indeks AS dosije_indeks, dosije.ime AS dosije_ime, dosije.prezime AS dosije_prezime, dosije.datum_upisa AS dosije_datum_upisa, dosije.datum_rodjenja AS dosije_datum_rodjenja, dosije.mesto_rodjenja AS dosije_mesto_rodjenja
FROM dosije
WHERE dosije.ime = %(ime_1)s

[Ispit(20140021, 1001, 2015, jan, 9, 2015-01-20, 81),
 Ispit(20140021, 2001, 2015, jan, 10, 2015-01-25, 98),
 Ispit(20140021, 3001, 2015, jan, 7, 2015-01-27, 67),
 Ispit(20140021, 1021, 2015, apr, 7, 2015-04-03, 63)]

In [463]:
from sqlalchemy.orm import joinedload
milos = session.query(Dosije).options(joinedload(Dosije.ispiti)).filter_by(ime='Milos')

print(milos)
milos.one().ispiti

SELECT dosije.indeks AS dosije_indeks, dosije.ime AS dosije_ime, dosije.prezime AS dosije_prezime, dosije.datum_upisa AS dosije_datum_upisa, dosije.datum_rodjenja AS dosije_datum_rodjenja, dosije.mesto_rodjenja AS dosije_mesto_rodjenja, ispit_1.indeks AS ispit_1_indeks, ispit_1.id_predmeta AS ispit_1_id_predmeta, ispit_1.godina_roka AS ispit_1_godina_roka, ispit_1.oznaka_roka AS ispit_1_oznaka_roka, ispit_1.ocena AS ispit_1_ocena, ispit_1.datum_ispita AS ispit_1_datum_ispita, ispit_1.bodovi AS ispit_1_bodovi
FROM dosije LEFT OUTER JOIN ispit AS ispit_1 ON dosije.indeks = ispit_1.indeks
WHERE dosije.ime = %(ime_1)s

[Ispit(20140021, 1001, 2015, jan, 9, 2015-01-20, 81),
 Ispit(20140021, 2001, 2015, jan, 10, 2015-01-25, 98),
 Ispit(20140021, 3001, 2015, jan, 7, 2015-01-27, 67),
 Ispit(20140021, 1021, 2015, apr, 7, 2015-04-03, 63)]

In [484]:
ispit = session.query(Ispit).first()