In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient()

In [9]:
db = client.primer
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'primer')

In [10]:
coll = db.dataset
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'primer'), 'dataset')

In [88]:
from pymongo import MongoClient
client = MongoClient()

db = client.test

In [87]:
from datetime import datetime

In [93]:
db.drop_collection('restaurants')

{'nIndexesWas': 1, 'ns': 'test.restaurants', 'ok': 1.0}

In [94]:
result = db.restaurants.insert_one(
    {
        "address": {
            "street": "2 Avenue",
            "zipcode": "10075",
            "building": "1480",
            "coord": [-73.9557413, 40.7720266]
        },
        "borough": "Manhattan",
        "cuisine": "Italian",
        "grades": [
            {
                "date": datetime.strptime("2014-10-01", "%Y-%m-%d"),
                "grade": "A",
                "score": 11
            },
            {
                "date": datetime.strptime("2014-01-16", "%Y-%m-%d"),
                "grade": "B",
                "score": 17
            }
        ],
        "name": "Vella",
        "restaurant_id": "41704620"
    }
)
db.restaurants.insert_one(
    {
        "borough": "Beograd",
        "cuisine": "Italian",
        "grades": [
            {
                "date": datetime.strptime("2014-10-01", "%Y-%m-%d"),
                "grade": "A",
                "score": 11
            },
            {
                "date": datetime.strptime("2014-01-16", "%Y-%m-%d"),
                "grade": "B",
                "score": 17
            }
        ],
        "name": "Moj restoran",
        "restaurant_id": "41704620"
    }
)

In [95]:
from pprint import pprint
from IPython.display import display

In [96]:
cursor = db.restaurants.find()
for document in cursor:
    pprint(document)

{'_id': ObjectId('5a397fc70d67312f3120c498'),
 'address': {'building': '1480',
             'coord': [-73.9557413, 40.7720266],
             'street': '2 Avenue',
             'zipcode': '10075'},
 'borough': 'Manhattan',
 'cuisine': 'Italian',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2014, 1, 16, 0, 0),
             'grade': 'B',
             'score': 17}],
 'name': 'Vella',
 'restaurant_id': '41704620'}
{'_id': ObjectId('5a397fc70d67312f3120c499'),
 'borough': 'Beograd',
 'cuisine': 'Italian',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2014, 1, 16, 0, 0),
             'grade': 'B',
             'score': 17}],
 'name': 'Moj restoran',
 'restaurant_id': '41704620'}

In [71]:
cursor = db.restaurants.find({"grades.grade": "B"})
for document in cursor:
    pprint(document)

{'_id': ObjectId('5a3956a00d67312f3120c490'),
 'address': {'building': '1480',
             'coord': [-73.9557413, 40.7720266],
             'street': '2 Avenue',
             'zipcode': '10075'},
 'borough': 'Manhattan',
 'cuisine': 'to be determend',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2014, 1, 16, 0, 0),
             'grade': 'B',
             'score': 17}],
 'lastModified': datetime.datetime(2017, 12, 19, 18, 44, 57, 224000),
 'name': 'Vella',
 'restaurant_id': '41704620'}
{'_id': ObjectId('5a3959d80d67312f3120c491'),
 'address': {'building': '1480',
             'coord': [-73.9557413, 40.7720266],
             'street': '2 Avenue',
             'zipcode': '10075'},
 'borough': 'Manhattan',
 'cuisine': 'to be determend',
 'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2014, 1, 16, 0, 0),
             'grade': 'B',
             'score': 17}],
 'lastModified': datetime.datetime(2017, 12, 19, 18, 44, 57, 225000),
 'name': 'Vella',
 'restaurant_id': '41704620'}

In [70]:
result = db.restaurants.update_many(
    {"name": "Vella"},
    {
        "$set": {
            "cuisine": "to be determend"
        },
        "$currentDate": {"lastModified": True}
    }
)

In [75]:
coll = db['restaurants']

In [106]:
cursor =  db.restaurants.aggregate(
    [
        {"$group": {"_id": "$borough", "count": {"$sum": 1}}}
    ]
)

In [107]:
for document in cursor:
    print(document)

{'_id': 'Beograd', 'count': 1}
{'_id': 'Manhattan', 'count': 1}

In [108]:
def select(x):
    pprint(x)